<!DOCTYPE html>
<meta charset="utf-8">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>

<link href="https://code.jquery.com/ui/1.11.2/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css"/>

<style>
#tables table{
	border-collapse: collapse;
	overflow:scroll;
}
#tables{
	max-height: 60%;
}
#queries{
	max-height: 30%;
}
#tables table td {
	border: thin solid black;
	padding: 0.2cm;
}
thead{
	font-weight: bold;
}

.hidden{
	display:none;
}
</style>

<script type = "text/javascript">
var META = {{meta|raw}};

function getTr(list){
	var tr = $('<tr/>');
	for (var i in list){
		tr.append($('<td>').text(list[i]));
	}
	return tr;
}

function responseToTable(view, model, meta){
	return function (response) {
		$('<div/>').text(response).appendTo($('#queries'));
		response = $.parseJSON(response);
		if(response.data) response = response.data;
		var keys = [];
		for (var key in response[0])
			keys.push(key);
		var table = $('<table/>').appendTo(view);
		$('<thead/>').append(getTr(keys)).appendTo(table);

		for (var i in response){
			var vals = [];
			var record = response[i];
			for (var j in keys)
				vals.push(record[keys[j]]);
			table.append(getTr(vals));
		}
	}
}

function sendData(){
	var meta = META[$('#adder select').val()];
	var raw = $('#adder form').serializeArray();
	var data = {};
	for (var i in raw){
		data[raw[i].name] = raw[i].value;
	}
	$.ajax({
		'type': 'POST',
		'url': meta.add,
		'data': JSON.stringify(data),
		'contentType': 'application/json',
		'dataType': 'application/json',
		'complete':refresh
	});
}

function buildAdder(){
	var meta = META[$('#adder select').val()];
	var form = $('#adder form');
	form.empty();
	console.log(meta)
	for (var i in meta.keys){
		var key = meta.keys[i];
		$('<label/>').text(key).appendTo(form);
		$('<input/>').attr('name', key).appendTo(form);
	}
	$('<button type="button"/>').text('Add').click(sendData).appendTo(form);
	console.log(form);
}

function refresh(){
	var tables = $('<div id = "tables"/>').appendTo($('#tables-container').empty());
	var tabs = $('<ul id="table_tabs"/>').appendTo(tables);
	var select = $('#adder select').change(buildAdder);
	for(var model in META){
		var meta = META[model];

		tabs.append(
			$('<li/>').append(
				$('<a/>').attr('href', '#table-' + model).text(model)
			)
		);
		var view = $('<div/>').attr('id', 'table-' + model);
		tables.append(view);

		$.get(meta.query, '', responseToTable(view, model, meta));
		$('<option/>').text(model).appendTo(select);
	}

	tables.tabs();
	buildAdder();
}

$(function(){
	refresh();
});
</script>

<body>
	<div id = "adder"><select></select><form></form></div>
	<div id = "tables-container"><div id = "tables"><ul id="table_tabs"></ul></div></div>
	<button onclick = "refresh()">Refresh</button>
	<button onclick = "$('#queries').toggleClass('hidden')">Show/hide query log</button>
	<div id = "queries" class="hidden"></div>


</body>